body{
	background-color: #E1E0D0;
}
h1{
	color: #C0C0C0;
	font-size: 90px;
}
h2{

	font-size: 40px;
	color: #F73E17;
}
#first{
	font-size: 150px;
}
#second{
	color: #231EE3;
}
.small{
	font-size: 12px;
}
span{
	font-style: italic;
}